<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        {{>header}}
        <img src="/img/bob.jpg"/>
        <footer>{{>footer}}</footer>
    </body>

</html>