<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>

        <div class="main-content">
       {{>header}}
        <h1>
            From a Help Static file
        </h1>

        <p>{{message}}</p>
        </div>
 
        <footer>{{>footer}}</footer>

    </body>

</html>