<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>
        {{>header}}
        <h1>
            From a Help Static file
        </h1>

        <p>{{message}}</p>
        <footer>{{>footer}}</footer>

    </body>

</html>